<div> <%= link_to 'New Payment', new_payment_path, :class => 'btn btn-primary' %> </div>

<br />

<%== table_helper 'Payments', 'List of payments', ['Company', 'Amount', 'Date', '', '', ''] do %>
    <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.company.name.to_s %></td>
          <td><%= payment.amount.to_s %></td>
          <td><%= payment.date.to_s %></td>
          <td><%= link_to 'Show', payment, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_payment_path(payment), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', payment, :class => 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
<% end %>