<div> <%= link_to 'New Payment', new_payment_path, :class => 'btn btn-primary' %> </div>

<br />

<div class="panel panel-primary">
  <div class="panel-heading"><strong>Payments</strong></div>
  <div class="panel-body">
    <p> List of payments made. </p>
  </div>

  <table class='table'>
    <thead>
    <tr>
      <th>Company</th>
      <th>Amount</th>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @payments.each do |payment| %>
        <tr>
          <td><%= payment.company.name %></td>
          <td><%= payment.amount %></td>
          <td><%= payment.date.to_s %></td>
          <td><%= link_to 'Show', payment, :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Edit', edit_payment_path(payment), :class => 'btn btn-primary' %></td>
          <td><%= link_to 'Destroy', payment, :class => 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
